@import url('https://fonts.googleapis.com/css2?family=Inter&family=Poppins:wght@400;600;700&display=swap');

* {
    font-family: 'Inter', sans-serif;
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

/* header section */

nav {
    border: 2px solid tomato;
    display: flex;
    justify-content: space-between;
    padding: 95px 120px;
}

.nav-head {
    border: 2px solid tomato;
    color: #3A3A3A;
    font-size: 45px;
    font-weight: 700;
    line-height: 70px;

}

nav ul {
    border: 2px solid tomato;
    display: flex;
    list-style: none;
}

nav ul li {
    border: 2px solid tomato;
    color: #3A3A3A;
    font-size: 16px;
    font-weight: 600;
    margin-right: 20px;
}

nav img {
    height: 24px;
    width: 24px;
}

/* Main section */
.influencer {
    border: 2px solid tomato;
    height: 600px;
    display: flex;
    padding: 10px 135px 0px 120px;
    justify-content: space-between;
    align-items: center;
}

.influencer-content {
    margin-top: 10px;
}

.influencer-head {
    color: #3A3A3A;
    font-size: 52px;
    font-weight: 700;
    line-height: 70px;
    /* 134.615% */
}

.influencer-paragraph {
    color: #3A3A3A;
    font-size: 16px;
    font-weight: 600;
    width: 505px;
    height: 60.9px;
    flex-shrink: 0;

}

.influencer-image {
    width: 440px;
    height: 400px;
    flex-shrink: 0;
    background-image: url(../images/Circle\ design.svg);
}

.influencer-btn {
    border-radius: 41px;
    background: #E02C6D;
    display: inline-flex;
    padding: 10px 24px;
    align-items: flex-start;
    gap: 8px;
    color: white;
    border: none;
    margin-top: 16px;
}

/* Sponser Section */
.sponser-section {
    border: 2px solid tomato;
    align-items: center;
    margin-left: 165px;
    margin-right: 165px;
    display: flex;
    justify-content: space-between;
    padding: 40px 62px;
    gap: 60px;
}

/* Grid Section */
.collection {
    border: 2px solid tomato;
    margin-left: 150px;
    margin-top: 100px;
    width: 1200px;
}

.collection-title {
    text-align: center;
}

.card-collection {
    border: 2px solid tomato;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 30px;
}

.grid-iteam {
    width: 329px;
    height: 400px;
    flex-shrink: 0;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
    margin: 14px;
    padding: 20px;
}

.grid-iteam img {
    width: 300px;
    height: 256px;
    flex-shrink: 0;
    padding: 14px;
}

.btn-collection {
    text-align: right;
}

.btn-collection button {
    border: none;
    color: #E02C6D;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 700;
}

/* featured Section */
.featured {
    border: 2px solid tomato;
    display: flex;
    justify-content: space-between;
    margin: 100px 165px;
}

.featured-img {
    width: 404px;
    height: 270px;
    flex-shrink: 0;
    border-radius: 7px;
}

.featured-content {
    margin-left: 100px;
    /* text-align: center; */
    /* justify-content: center; */
    margin-top: 50px;
}

.featured-content-title {
    color: #0A0826;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Poppins;
    font-size: 38px;
    font-weight: 700;
    line-height: 60px;
}

.featured-content-p {
    color: #6C6C6C;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 700;
    line-height: 28px;
}